
.form ul li span.slot-name, .data ul li span.label {
  vertical-align: top;
}

/* Close button */
span.close-button 
{
  display: block;
  width: 15px;
  height: 15px;
  overflow: hidden;
}

span.close-button a
{
  /* background: url(/weblocks-common/pub/images/close.png) no-repeat top left; */
  padding-left: 1000em;
}

span.close-button a:hover
{
  /* background: url(/weblocks-common/pub/images/close_hl.png) no-repeat top left; */
}

/* Total Items */
span.total-items
{
  color: gray;
  font-size: x-small;
}

/* Text */
.ellipsis
{
  color: gray;
  font-weight: bold;
}

p.text
{
  margin: 0;
}

.view ul li p.text
{
  margin-left: 0.5em;
}

/* No elements */
div.empty p
{
  padding-left: 0.5em;
  margin: 0;
}

div.empty p span.caption
{
  color: #29364F;
  font-weight: bold;
  font-family: Garamond, New York, serif;
}

.collapsible-heading {
  cursor:default;
}

.collapsible-container.expanded {
  display:block;
}

.collapsible-heading.expanded:after {
  content:" (click to collapse)";
  font-size:small;
  color:gray;

}

.collapsible-container.collapsed {
  display:none;
}

.collapsible-heading.collapsed:after {
  content:" (click to expand)";
  font-size:small;
  color:gray;
}


/* My Updates */
span.slot-name {
    display: block;
    float:left;
}

div.maybe-error {
    float:right;
}

label.checkbox, label.select {
    display: block;
    clear:both;
}

.state-checked {
    background-image: url(/pub/images/badge/badge.png);
}

.state-unchecked {
    background-image: url(/pub/images/badge/badge-transparent.png);
}

.check-button a {
    font-weight: bold;
    background-position: right;
    width: 150px;
    height: 20px;
    display: block;
    padding: 5px;
    -webkit-transform: rotate(-30deg);
    position: absolute;
    color: white;
    text-decoration: none;
    font-size: 20px;
    bottom: 40px;
    left: 0;
}

.outer-badge {
    float:left;
    width: 70px;
    position: relative;
    border:1px solid transparent;
    height: 100%;
}

.badges {
    height: 110px;
}

.edit-link a {
    position:absolute;bottom:0;white-space:nowrap;
}

em.required-slot sup {
    display:none;
}

.test-list li label {
  min-height: auto;
  padding-left: 0;
}

.test-result .modify {
  display: none;
}
